<article id="top">
  <link rel="stylesheet" href="/assets/styles/top.css">
  
  <header>
    <div class="bw-banner">
      <div class="bw-container-mini">
        <div class="pull-left">
          <h5>benework</h5>
        </div>
        <div class="pull-right">
          <button type="button" class="btn btn-block btn-success">
            ログイン
          </button>
        </div>
      </div>
      <div class="bw-center">
        <h3 class="bw-catchcopy text-center">100,102,801の福利幸生で生まれる無限のネットワーク</h3>
        <div class="panel panel-default bw-blackbox">
          <div class="panel-body">
            <p>福利幸生を検索する</p>
            <div class="row">
              <div class="col-xs-10">
                <input type="text" class="form-control" placeholder="キーワードを入力">
              </div>
              <div class="col-xs-2">
                <button type="button" class="btn btn-block btn-success">
                  検索
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <h4 class="text-center">あなたにおすすめの福利幸生</h4>
      <div class="row">
        <div class="col-xs-4">
          <div class="bw-img" style="background: url(/assets/imgs/leisure.jpg) center/cover">
            <button type="button" ng-click="tc.benefitDetail(120)">button</button>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="bw-img" style="background: url(/assets/imgs/leisure.jpg) center/cover">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="bw-img" style="background: url(/assets/imgs/leisure.jpg) center/cover">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="bw-img" style="background: url(/assets/imgs/leisure.jpg) center/cover">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="bw-img" style="background: url(/assets/imgs/leisure.jpg) center/cover">
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>

  </footer>
</article>
